@font-face {
  font-family: "Brando";
  src: url("../font/Brando-Sans-Text.otf") format("otf");
  font-display: swap;
}

body {
  margin: 0px;
  color: black;
  background-color: #CBCAC9;
  font-family: "Brando", Arial, sans-serif;
  font-style: normal;
}

.filterHolder{
  padding: 10px;
  width: 100%;
  /* border-radius: 20px; */
  background-color: white;
  max-width: 750px;
  margin: 10px auto;
  border: 1px solid black
}
.filterHolder h1{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}
.filterForm{
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.filterForm form{
  display: inline-flex;
}
.filterForm label{
margin: 5px;
padding: 5px;
}
.roomHolder {
  width: 95%;
  min-height: 200px;
  margin: 0 auto;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room {
  overflow: hidden;
  width: calc(50% - 20px);
  min-width: 350px;
  max-width: 500px;
  display: inline-flex;
  margin: 10px 5px 5px 2.5px;
  background-color: white;
  position: relative;
  opacity: 1;
  animation: fadeIn .5s ease-in both;

}
.dataTitlePusher{
  height: 25px;
  width: 100%;

}
.dataTitle{
  position: absolute;
  width: 100%;
  background: white;
  height: 25px;
  border-bottom: 1px solid black;
}
.dataTitle h2 {
  width: calc(80% - 10px);
  margin: 0 0 0 10px;
  line-height: 25px;
  float: left;
}
.dataTitle time {
  width: 20%;
  line-height: 25px;
  text-align: center;
  float: left;
}
.climateImage {
  width: 40%;
  height: 200px;
  border-right: black solid 1px;
  background-color: lightgray;
  overflow: hidden;
  background-image: url("../img/climate/home.svg");
}
.climateImage img {
  height: 100%;
}

.dataHolder {
  overflow: scroll;
  width: 60%;
  height: 200px;
  background-color: white;
}

.dataIcon {
  /* width and padding need to be same to it can be a quare */
  width: calc(33% - 15px);
  margin: 7px;
  background-color: #f6f6f6;
}
.dataIcon p {visibility: hidden;}
.dataHolder p {

display: inline-flex;
}
.textHolder{
  padding: 10px;
}
.textHolder p {
width: 100%;
margin: 0px;
height: 25px;
padding: 2px;
line-height: 25px;
}

.textHolder p span{
  margin: 0 5px;
}
.iconHolder{
  position: absolute;
  right: 0px;
}
.sound, .co2{
  opacity: .1;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  float: left;
  padding: 5px;
  margin: 5px;
  background-color: white;
  background-size: 90%;
  background-image: url("../img/measurement/speaker.svg");

}
.sound:hover, .co2:hover{
  opacity: .75;
}
.active{
  opacity: 1;
animation: pulse 3s infinite;
background-color: rgba(255,77,77, 0.1);

}
.co2{
    right: 50px;
}
.invis{
  display: none;
}





/* Icons */
/*  Dit kan dynamies van de site  */
.bapLevel {
  background-image: url("../img/measurement/bap.svg");
}

.temperature {
  background-image: url("../img/measurement/temperature.svg");
}

.batt {
  background-image: url("../img/measurement/batt.svg");
}

.mic_level {
  background-image: url("../img/measurement/mic_level.svg");
}

.ambient_light {
  background-image: url("../img/measurement/ambient_light.svg");
}

.humidity {
  background-image: url("../img/measurement/humidity.svg");
}

.co2 {
  background-image: url("../img/measurement/co2.svg");
}

.occupancy {
  background-image: url("../img/measurement/occupancy.svg");
}

.uv_index {
  background-image: url("../img/measurement/uv_index.svg");
}

.voc {
  background-image: url("../img/measurement/voc.svg");
}

/* animations */
/* Chains be bad */
.room:nth-of-type(2) {
	animation-delay: .25s;
}
.room:nth-of-type(3) {
	animation-delay: .5s;
}
.room:nth-of-type(4) {
	animation-delay: .75s;
}
.room:nth-of-type(5) {
	animation-delay: 1s;
}
.room:nth-of-type(6) {
	animation-delay: 1.25s;
}
.room:nth-of-type(7) {
	animation-delay: 1.5s;
}
.room:nth-of-type(8) {
	animation-delay: 1.75s;
}
.room:nth-of-type(9) {
	animation-delay: 2s;
}
.room:nth-of-type(10) {
	animation-delay: 2.25s;
}
.room:nth-of-type(11) {
	animation-delay: 2.5s;
}
.room:nth-of-type(12) {
	animation-delay: 2.75s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,77,77, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255,77,77, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,77,77, 0);
  }
}

.free{
  color: #3af947;
}
.occupied{
  color: #f9473a;

}
.koud{
  color: #0080ff;
  animation: shake 1s ease-in 5;
}
.koud::after{
  content: " ";
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border: 1px solid #0080ff;
  background-image:url("../img/measurement/snow.svg");
  filter: hue-rotate(#0080ff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
.koud:hover{
  animation: shake .5s ease-in infinite;
}
.warm{
  color: #ff7f00;
}
.vrij{
  transform: translate3d(0, 0, 0);
}
.bezet{
  opacity: .3;
   filter: grayscale(75%);
}
.bezet:hover{
  opacity: 1;
   filter: grayscale(0%);
}
.luid{

}
.offline{
  width: 500px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  line-height: 100px
}
