<%- include('../partials/header'); -%>
<link rel="stylesheet" type="text/css" href="/css/offline.css" />
<body>
  <main>
    <div class="offlineHolder">
      <h1>You are:<span> Offline </span></h1>
      <p>Please find internets</p>

    </div>
  </main>
</body>
<%- include('../partials/footer'); -%>
